/* GENERAL STYLES */

* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

body {
  background-color: #ffffff;
}

/* HEADER */

header {
  padding: 1.25rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #003853;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 3rem;
}

header h1 .seo {
  color: #f6fa05;
}

header nav {
  padding-top: 0.9375rem;
  margin-right: 1.25rem;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.25rem;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 1.5625rem;
}

/* TEXT STYLES */

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 1.125rem;
}

/* HERO Section WITH BACKGROUND IMAGE */

.hero {
  height: 50rem;
  width: 100%;
  margin-bottom: 1.5625rem;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
    background-color: #003853;
    padding: 1.25rem; 
}

/* FLOATS */

.float-left {
  float: left;
  margin-right: 1.5625rem;
}

.float-right {
  float: right;
  margin-left: 1.5625rem;
}

/* MAIN */

main {
  width: 75%;
  display: inline-block;
  margin-left: 1.25rem;
}

/* BENEFITS ASIDE */
p {
  font-size: 1.120rem;
  text-align:center;
  }

  h2 {
    text-align: center;
  }

.benefits {
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #025581;
  color: #ffffff;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 10px;
  box-shadow: 0rem 0rem .625rem #000000;
  box-sizing: border-box;
}

.benefit {
  margin-bottom: 2rem;
  color: #ffffff;
  text-align: center;

}

.benefit h3 {
  margin-bottom: .625rem;
  text-align: center;
  font-size: 1.125rem;
}

.benefit img {
  display: block;
  margin: .625rem auto;
  max-width: 9.375rem;
  margin-bottom: 1.15rem;
  padding: 1.15rem;
  border: 0.0625rem solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0rem 0rem .625rem #000000;
  box-sizing: border-box;
  text-align: center;
}

/* SERVICES SECTIONS */

.service {
  margin-bottom: 1.25rem;
  padding: 3.125rem;
  height: 18.75rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #004d7c;
  color: #ffffff;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 10px;
  box-shadow: 0rem 0rem.625rem #000000;
  box-sizing: border-box;
  text-align: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;  
}

.service img {
  max-height: 12.5rem;
}

.service h2 {
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
}

/* FOOTER */

footer {
  padding: 1.875rem;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 1.25rem;
}
